.wy-side-nav-search{
	background-image: url(img/diagonal-lines_soft.png);
	background-repeat: repeat;
}

img.logo {
	padding: 10px 12%;
}

img.component-photo {
	width: 400px;
	max-width: 100%;
}

img.component-photo-wider {
	width: 500px;
	max-width: 100%;
}

img.component-photo-widest {
	width: 100%;
	max-width: 600px;
}